body {
    margin-top:95px;

  }
  /* unvisited link */
a:link {
  color: #000000;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #C06742;
}
  /*NAVBAR STYLE*/
 
  .navbar_1 {
    -webkit-box-shadow: 1px 1px 9px #000000;
          box-shadow: 1px 1px 9px #000000;
    background: rgb(252, 246, 242);
    opacity: 0.9;
    
  }
  .navbar {
    -webkit-box-shadow: 1px 1px 9px #000000;
          box-shadow: 1px 1px 9px #000000;
    background: white;
    opacity: 0.9;
    
  }
  .navbar .nav-item {
    font-size: 1rem;
    font-weight: 500;
    padding-right: 20px;
  }
  
  .navbar .nav-item .nav-link {
    color: #C06742;
  }
  
  .navbar .nav-item .nav-link:hover {
    color: #000000;
  }
  
  .navbar .nav-item:last-child {
    padding-right: 0;
  }
  #navbarhead{
    position: relative;
    text-align: center;
    padding: 25px;
    margin-top: 80px;
  }
  
  .border_home {
    background-color:#070707;
  opacity: 60%;
  width: 100%;
text-align: center;
margin-top:7%;
margin-bottom: auto;
  }

  /*ABOUT */
  #about{
      color: black;
      transition: .5s ease;
  }

  #about .aboutBox{
    transition: .5s ease;
  }
#about .aboutBox:hover{
  transition: .5s ease;
    transform: scale(1.1); 
box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) ;
}

  .boxes{
      background: white;
      padding: 10px;
  }
 .box{
    background-color: #fff;
    color: black;
    padding: 10px;
  }

  /*PRODUCTS*/
#products{
  background: #C06742;
  text-align: center;
margin-bottom: 10px;

}
.products_header{
  color: white;
  font-size: 60px;
  margin-top: 2%;

}
.product_back{
background-color: #f0eceb;
margin: 10px;
padding-top: 20px;
padding-bottom: 8px;
height:100%;

}
.products_text{
  color: rgb(10, 10, 10);
  font-size: 16px;
 font-weight: 500;

}
.product-item{
  text-align: center;
  position: relative;
  justify-items: center;
  align-items: center;
  margin-top: 8%;
  padding-bottom: 20px;
margin-bottom: 20px; 
  }
.product-caption{
  color: #C06742;
  font-size: 35px;
  font-weight: 500;
  justify-items: center;
  align-items: center;


}
.product_text_brand{
  font-size: 25;
  color: #C06742;
  font-weight: 500;
}
/* new roof and floor changes css */
.wrapper {
  width:90%;
  position: relative;
  flex-grow: 1;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1vmin;
  justify-items: center;
  align-items: center;  
}
.flip{
  transform: rotateY(180deg);
}
.wrapper2 {
  width:90%;
  position: relative;
  flex-grow: 1;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1vmin;
  justify-items: center;
  align-items: center;
 
}
.product_IMG {
  z-index: 1;
  grid-column: span 2;
  max-width: 100%;
  margin-bottom: -52%;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: scale(1);
  transition: all .25s;
}
.product_IMG:nth-child(4n + 1) {
    grid-column: 2 / span 2;
  }
  
  .product_IMG:hover {
    z-index: 2;
    transform: scale(2);
  }


/*Services*/
#services{
text-align: center;
}

.service_top{
 margin-top: 5%;
 margin-bottom: 10px;
}
.heading{
  margin-top: 30px;
  font-size: 40px;
  font-weight: 700;
}

/*services*/
#services .fa{
  font-size: 60px;
  color: rgb(139, 8, 8);
  padding-bottom: 10px;
}
  .btnStyle{
    padding-top: 10px;
      margin-top: 0px;
      width: 50%;
      padding-right: 3px;
      border: 1px solid white;
  }

  #services .card{
    transition: .5s ease;
    background-color: #f5b296;
    min-height: 250px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) ;

  }
  #services .card:hover{
    transition: .5s ease;
    transform: scale(1.1); 
    background-color: #fae5dc;
    min-height: 250px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) ;

  }
  #blackStyle{
    position: relative;
    text-align: center;
    padding: 15px;
    margin-top: -45px; 
  }
  #blackStyle:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background:#C06742;
   transform: skew(0deg, 7deg);
   border:35px solid transparent;
   opacity: 0.5px;
   margin-top: -30px;
    }
  #blackStyle:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
   background:#C06742;
    transform: skew(0deg, -7deg);
    border: 35px solid transparent;
    opacity: 0.5px;
    margin-top: -30px
   
  }
  /* Skills*/
  .text4{
    font-size: 20px;
    font-weight: 500;
  }
/* CSS STYLE*/
#navbarhead:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  background: white;
 transform: skew(0deg, 7deg);
 border:20px solid transparent;
 opacity: 0.5px;
 margin-top: -10px;
}
#navbarhead:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
 background:white;
  transform: skew(0deg, -7deg);
  border: 20px solid transparent;
  opacity: 0.5px;
  margin-top: -10px
}
  /* Home style*/
  #home {
    position: relative;
    text-align: center;
    background: url("../images/display_image.jpg") no-repeat center top;
    background-size: cover;
    min-height: 470px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
  }
  #home h1{
  padding-top: 20px;
   color: #C06742;
   font-weight: bold;
  }
  #home h3{
    color: white;
    font-weight: 700;
    font-size: 30px;
  }
  #home .primary-overlay {
    min-height: 470px;
    background: rgba(3, 3, 3, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #home img{
      height: 330px;
      height: 330px;
  }

  #parallelogram {
    width: 130px; 
    height: 75px;
    background: #C06742;
    /* Skew */
    -webkit-transform: skew(20deg); 
    -moz-transform: skew(20deg); 
    -o-transform: skew(20deg);
    transform: skew(20deg);
 }
  /* ABOUT STYLE */

  .subscribe {
    height: 30px;
  background: #252525;
  position: relative;
}
.substyle{
   padding-top: 5%;
  }

  #about img{
    padding-top: 30px
  }

  .about_header{
font-size: 32px;
color: #C06742;
  }
  .abstyle{
      padding-top: 20px;
      padding-left: 40px;
      padding-bottom: 20px;
  }
/*GALLERY STYLE*/
#gallery{
  text-align: center;
  background-color: #fae5dc;
  margin-top: 5%;
  padding-top: 5px;
  padding-bottom: 10%;
}
.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  padding-top: 10px;

    }

    .gallery_body {
      display: grid;
      grid-template-rows: repeat(7, 18vh);
      grid-template-columns: repeat(5, 20vw);
      transition: all 0.3s ease(gravity);
      background-color: #fae5dc;
      border-radius: 10px;
      padding: 0.10em;
    }
      @media (min-width: 40em) {
        .gallery{
          height: 80%;
         }
       .gallery_body {
          grid-template-rows: repeat(5, 25vh);
          padding-top: 5%;
          margin-top: 5%;
        }
      
      }
    
      @media (min-width: 10em)  {
        .gallery{
          height: 100%;
         }
    .gallery_body{
      grid-template-columns: repeat(3, 25vw);
      grid-template-rows: repeat(2, 20vh);
      padding-top: 5%;
      margin-top: 5%;
    }
      }
    
      @media (min-width: 60em) {
    .gallery_body{
      grid-template-columns: repeat(15, 5vw);
      grid-template-rows: 25vh;
    }
      }
    
      .gallery_img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: all 0.3s /2 ease(downhill);
        position: relative;
        box-shadow: 0 0 0 #0000;
        /* opacity: 0.67; */
        filter: sepia(30%) hue-rotate(180deg);
      }
        .gallery_img:first-child {
          border-radius: 10px 10px 0 0;
        }
        .gallery_img:last-child {
          border-radius: 0 0 10px 10px;
        }
      
        @media (min-width: 40em) and (max-width: 59.99em) {
          .gallery_img:first-child {
            border-radius: 10px 0 0 0;
          }
          .gallery_img:nth-child(5) {
            border-radius: 0 10px 0 0;
          }
          .gallery_img:nth-child(6) {
            border-radius: 0 0 10px 0;
          }
          .gallery_img:last-child {
            border-radius: 0 0 0 10px;
          }
        }
      
        @media (min-width: 60em) {
          .gallery_img:first-child {
            border-radius: 10px 0 0 10px;
          }
          .gallery_img:last-child {
            border-radius: 0 10px 10px 0;
          }
        }
      
        .gallery_img:hover {
          opacity: 1;
          z-index: 1;
          box-shadow: 1em 1em 1em #0004;
          transition: all 0.3s ease(downhill);
          filter: sepia(0%) hue-rotate(0deg);
          border-radius: 5px;
          width: 200%;
          height: 200%;
          left: -100%;
          top: -100%;
        }
          @media (min-width: 40em) {
            .gallery_img:hover{
              width: 250%;
              height: 500%;
              left: -75%;
              top: -200%;
  }
          }
      
          @media (min-width: 10em) and (orientation: landscape) {
     .gallery_img:hover{
      width: 250%;
      height: 200%;
     }
          }
      
          @media (min-width: 40em) and (orientation: portrait) {
        .gallery_img:hover{
          width: 300%;
          height: 300%;
          left: -100%;
          top: -100%;
        }
          }
          

          @media (min-width: 60em) and (orientation: landscape) {
       .gallery_img:hover{
        width: 260%;
        height: 230%;
        left: -75%;
        top: -100%;
       }         
          }
      
  /* CONTACT STYLE */
  #contact{
    position: relative;
    background: url("../images/contat_image.jpg") no-repeat center top;
    background-size: cover;
    min-height: 560px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;

  }
  #contact .contact-overlay{
      min-height: 470px;
      background: rgba(15, 13, 13, 0.9);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
.contactBox {
  background-color: #fff;
margin-top: 30px;
margin-bottom: 30x;
padding: 20px;
padding-bottom: 30px;
}

.contact_header{
  color: #C06742;
  font-size: 25px;
  padding-bottom: 10px;

}
#result{
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  font-size: 15px;
font-weight: 500;
}

  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: all;
    }
    
  }
  .imgSize{
    width:27px ;
    margin-left: 10px;
  }
 
 .icon{
     font-size: 25px;
     padding-left: 20px;
 }
 .massagestyle{
     width: 100%;
     height: 100%;
    display: none;
 }
 .emailStyle{
   padding-top: 10px;
   padding-bottom: 10px;
   color: black;
   text-decoration: none;
 }

 .sub-button{
  
    background-color: #C06742;
    color: white;
  }
 /*FOOTER*/

 .footer{

  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
   background-color: #f0eceb;
   color: rgb(10, 10, 10);
   font-size: 7px;
   padding-top: 20px;
   bottom: 0;
   text-align: center;
   text-transform: none;
 }

 .blankSpace{
 min-height: 30px;
 }

 /* google map*/
 .address_map{
  width :100%;
  height: 100%;
border: 0ch;
margin: 0ch;
scroll-margin: 0;
}

.carousel-item {
  height: 450px;
}

      

  @media (max-width: 579px) {
    #showcase h1 {
      font-size: 4rem;
    }
  }


/* display text animation*/

.animation {
  font: 100px "Oswald", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
/* Clip Background Image */
  background: url("../images/text-fill.png") repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

/* Animate Background Image */
  -webkit-text-fill-color: transparent;


/* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  
  animation: reveal 3000ms ease-in forwards 1000ms,
 aitf 80s linear infinite;


 
}

@keyframes reveal {
  80%{
    letter-spacing: 8px;
  
  }
  100% {
    background-size: 300% 300%;
    
  }
}



/* Animate Background Image */

@keyframes aitf {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

/* Animation for display text */

@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 9s;
  animation-fill-mode: both;
  -webkit-animation-duration: 9s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

  /*# sourceMappingURL=style.css.map */
  
  
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

/* Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation */
.modal-content {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}